backoffice/database/*.sqlite
backoffice/database/*.sqlite-*
frontoffice/database/*.sqlite
frontoffice/database/*.sqlite-*
agent/

# Local database dumps
*.sql
*.sqlite.backup*

# Local MySQL backups
local-backups/
